@tailwind base;
@tailwind components;
@tailwind utilities;

.ccam1 {
    background-color:#28008a;
    color: white;
}
.ccam2 {
    background-color:#f4b322;
}

circle {
  transition: stroke 0.5s ease;
}
text {
  transition: fill 0.5s ease;
}

